<!doctype html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Default Page Title</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <table>
        {% for i in images %}
        <tr>
            <td>
                {{ i.name }}
            </td>
            <td>
                {% if i.image %}
                    <embed src="{{ i.image.url }}"></embed>
                {% endif %}
            </td>
            <td>
                <img src="{{ i.image.small_png_url }}"/>
            </td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>