<!doctype html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Default Page Title</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <table>
        {% for t in tasks %}
        <tr>
            <td>
                {{ t.name }}
            </td>
            <td>
                {% if t.logo %}
                    <embed src="{{ t.logo.url }}"></embed>
                {% endif %}
            </td>
            <td>
                <img src="{{ t.logo.small.url }}"/>
            </td>
            <td>
                <img src="{{ t.logo.big_log.url }}"/>
            </td>

        </tr>
        {% endfor %}

    </table>

</body>
</html>